In [1]:
# Importing variables
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine, inspect

### Extracting excels into DataFrame

In [2]:
data_file = "./Resources/data.xlsx"
data_df = pd.read_excel(data_file)
data_df.head()

,HTS Code,HTS Code Description,Custom,DUA,Date,ETA,B/L,Tax ID,Importer,Shipper / Exporter,...,AntiDumping,Loading Date,Description1,Description2,Description3,Description4,Description5,Shipping Line,Forwarding Agent(Origin),Forwarding Agent(Destination)
0,2823001000,DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC...,MARITIMA DEL CALLAO,059075 | 3,2021-02-13,2021-02-16,118-2021-299,20600346149,ANYPSA CORPORATION SOCIEDAD ANONIMA - ANYPSA C...,CHEMOURS INTERNATIONAL OPERATIONS,...,0,44256.0,DIOXIDO DE TITANIO TI-PURE S/M S/M,DIOXIDO DE TITANIO,USO INDUSTRIAL,TI-PURE TITANIUM DIOXIDE R900 EX55 25 KG BAG,TI-PURE R900 / 800 BAGS DE 25 KG C/U,NaN,NaN,NaN
1,2823001000,DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC...,MARITIMA DEL CALLAO,004941 | 1,2021-01-07,2021-01-09,118-2020-2907,20600346149,ANYPSA CORPORATION SOCIEDAD ANONIMA - ANYPSA C...,"THE CHEMOURS COMPANY FC,LLC",...,0,44169.0,DIOXIDO DE TITANIO S/M S/M,DIOXIDO DE TITANIO,USO INDUSTRIAL,"LOTE: 930324/0008-0009, 930326/0017-0034 - PRO...",TI-PURE TITANIUM DIOXIDE R900-38 EX55 55.066 LB,NaN,NaN,NaN
2,2823001000,DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC...,MARITIMA DEL CALLAO,042889 | 3,2021-02-02,2021-02-06,118-2021-191,20600346149,ANYPSA CORPORATION SOCIEDAD ANONIMA - ANYPSA C...,CHEMOURS INTERNATIONAL OPERATIONS,...,0,44191.0,DIOXIDO DE TITANIO TI PURE S/M S/M,DIOXIDO DE TITANIO,USO INDUSTRIAL,D0091882,TI-PURE TITANIUM DIOXIDE R900 EX55,NaN,NaN,NaN
3,2823001000,DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC...,MARITIMA DEL CALLAO,059075 | 4,2021-02-13,2021-02-16,118-2021-299,20600346149,ANYPSA CORPORATION SOCIEDAD ANONIMA - ANYPSA C...,CHEMOURS INTERNATIONAL OPERATIONS,...,0,44256.0,DIOXIDO DE TITANIO TI-PURE S/M S/M,DIOXIDO DE TITANIO,USO INDUSTRIAL,TI-PURE TITANIUM DIOXIDE R900 EX55 25 KG BAG,TI-PURE R900 / 800 BAGS DE 25 KG C/U,NaN,NaN,NaN
4,2823001000,DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC...,MARITIMA DEL CALLAO,004941 | 5,2021-01-07,2021-01-09,118-2020-2907,20600346149,ANYPSA CORPORATION SOCIEDAD ANONIMA - ANYPSA C...,"THE CHEMOURS COMPANY FC,LLC",...,0,44169.0,DIOXIDO DE TITANIO S/M S/M,DIOXIDO DE TITANIO,USO INDUSTRIAL,"LOTE: 930329/0034-0049, 930329/0051-0053, 9303...",TI-PURE TITANIUM DIOXIDE R900-38 EX55 55.066 LB,NaN,NaN,NaN

In [3]:
ports_id = "./Resources/world_port_names.xlsx"
port_df = pd.read_excel(ports_id)
port_df.head().T

,0,1,2,3,4
FID,wld_trs_ports_wfp.17534,wld_trs_ports_wfp.16499,wld_trs_ports_wfp.14985,wld_trs_ports_wfp.17111,wld_trs_ports_wfp.16713
port_name,A lesund,Aabenraa,Aalborg,Aarhus,Abadan
code,NOAES,DKAAB,DKAAL,NaN,IRABD
prttype,Sea,Sea,Sea,Unknown,River
prtsize,Unknown,Unknown,Unknown,Unknown,Medium
status,Unknown,Unknown,Unknown,Unknown,Open
maxdepth,NaN,NaN,NaN,NaN,NaN
maxlength,NaN,NaN,NaN,NaN,NaN
annualcapacitymt,NaN,NaN,NaN,NaN,NaN
humuse,Unknown,Unknown,Unknown,Unknown,Unknown
locprecision,accurate,accurate,accurate,accurate,accurate
latitude,62.47299,55.03933,57.04611,56.15,30.33011
longitude,6.15274,9.4267,9.93831,10.21667,48.2824
iso3,NOR,DNK,DNK,DNK,IRN
iso3_op,NOR,DNK,DNK,DNK,IRN
country,Norway,Denmark,Denmark,Denmark,Iran (Islamic Republic of)
lastcheckdate,NaT,NaT,NaT,NaT,NaT
remarks,NaN,NaN,NaN,NaN,NaN
url_lca,NaN,NaN,NaN,NaN,NaN
source,NaN,NaN,NaN,NaN,NaN
createdate,2021-02-24 11:54:56.019000,2021-02-24 11:54:14.295000,2021-02-24 11:52:47.493000,2021-02-24 11:54:14.295000,2021-02-24 11:54:14.295000
updatedate,2021-02-24 11:54:56.019000,2021-02-24 11:54:14.295000,2021-02-24 11:52:47.493000,2021-02-24 11:54:14.295000,2021-02-24 11:54:14.295000
geonameid,3163392,2625070,2624886,2624652,145459
gdb_geomattr_data,NaN,NaN,NaN,NaN,NaN
shape,POINT (6.152741796999976 62.47298997399997),POINT (9.426701115000014 55.03933386800003),POINT (9.93830628500001 57.04611372199997),POINT (10.21666555600001 56.15000027799999),POINT (48.28239780199999 30.330114913999978)
Unnamed: 25,NaN,NaN,NaN,NaN,NaN
Unnamed: 26,NaN,NaN,NaN,NaN,NaN
Unnamed: 27,NaN,NaN,NaN,NaN,NaN
Unnamed: 28,NaN,NaN,NaN,NaN,NaN
Unnamed: 29,NaN,NaN,NaN,NaN,NaN
Unnamed: 30,NaN,NaN,NaN,NaN,NaN
Unnamed: 31,NaN,NaN,NaN,NaN,NaN
Unnamed: 32,NaN,NaN,NaN,NaN,NaN
Duplicates,False,False,False,False,False

### Transforming data_df

In [4]:
# Creating a filtered dataframe from specific columns

data_cols = ["HTS Code", "HTS Code Description", "Custom" ,"DUA", "Date", "ETA", "B/L", "Tax ID", "Importer",
             "Shipper / Exporter", "Gross kg", "Net kg", "U$ FOB Tot", "U$ Freight Tot", "U$ CFR Tot", "U$ CIF Tot",
             "U$ FOB Unit 1", "U$ CIF Unit 1", "Country of Origin", "Acquisition Country","Loading Port", "Via", 
             "Transport Agent", "Custom Agent", "Commercial Description", "Description1", "Description2", 
             "Description3", "Description4", "Description5"]

data_transformed = data_df[data_cols].copy()

# Renaming the column headers

data_transformed = data_transformed.rename(columns={"HTS Code" : "hts_code", 
                                                    "HTS Code Description": "hts_code_description",
                                                    "Custom" : "custom" , "DUA" : "dua", "Date" : "date",
                                                    "ETA" : "eta", "B/L" : "bl", "Tax ID" : "tax_id", 
                                                    "Importer" : "name", "Shipper / Exporter" : "exporter", 
                                                    "Gross kg" : "gross_kg", "Net kg" : "net_kg", 
                                                    "U$ FOB Tot" : "usd_fob_total", "U$ Freight Tot" : "usd_freight_total", 
                                                    "U$ CFR Tot": "usd_cfr_total", "U$ CIF Tot" : "usd_cif total",
                                                    "U$ FOB Unit 1": "usd_fob_unit", "U$ CIF Unit 1" : "usd_cif _unit", 
                                                    "Country of Origin" : "country_of_origin", 
                                                    "Acquisition Country" : "acquisition_country",
                                                    "Loading Port" : "loading-port", "Via" : "via",
                                                    "Transport Agent" : "transport_agent", 
                                                    "Custom Agent" : "custom_agent", 
                                                    "Commercial Description" : "commercial_description",
                                                    "Description1" : "description1", "Description2" : "description2",
                                                    "Description3" : "description3", "Description4" : "description4", 
                                                    "Description5" : "description5"})

# Setting the Index
data_transformed.set_index

# Reviewing
data_transformed.head().T

,0,1,2,3,4
hts_code,2823001000,2823001000,2823001000,2823001000,2823001000
hts_code_description,DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC...,DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC...,DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC...,DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC...,DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC...
custom,MARITIMA DEL CALLAO,MARITIMA DEL CALLAO,MARITIMA DEL CALLAO,MARITIMA DEL CALLAO,MARITIMA DEL CALLAO
dua,059075 | 3,004941 | 1,042889 | 3,059075 | 4,004941 | 5
date,2021-02-13 00:00:00,2021-01-07 00:00:00,2021-02-02 00:00:00,2021-02-13 00:00:00,2021-01-07 00:00:00
eta,2021-02-16 00:00:00,2021-01-09 00:00:00,2021-02-06 00:00:00,2021-02-16 00:00:00,2021-01-09 00:00:00
bl,118-2021-299,118-2020-2907,118-2021-191,118-2021-299,118-2020-2907
tax_id,20600346149,20600346149,20600346149,20600346149,20600346149
name,ANYPSA CORPORATION SOCIEDAD ANONIMA - ANYPSA C...,ANYPSA CORPORATION SOCIEDAD ANONIMA - ANYPSA C...,ANYPSA CORPORATION SOCIEDAD ANONIMA - ANYPSA C...,ANYPSA CORPORATION SOCIEDAD ANONIMA - ANYPSA C...,ANYPSA CORPORATION SOCIEDAD ANONIMA - ANYPSA C...
exporter,CHEMOURS INTERNATIONAL OPERATIONS,"THE CHEMOURS COMPANY FC,LLC",CHEMOURS INTERNATIONAL OPERATIONS,CHEMOURS INTERNATIONAL OPERATIONS,"THE CHEMOURS COMPANY FC,LLC"
gross_kg,20692.0,20878.0,20641.0,20692.0,20878.0
net_kg,20000,20000,20000,20000,20000
usd_fob_total,59354.0,57148.0,59354.0,59354.0,57148.0
usd_freight_total,646.0,852.0,646.0,646.0,852.0
usd_cfr_total,60000.0,58000.0,60000.0,60000.0,58000.0
usd_cif total,60052.8,58051.04,60052.8,60052.8,58051.04
usd_fob_unit,2.967,2.857,2.967,2.967,2.857
usd_cif _unit,3.002,2.902,3.002,3.002,2.902
country_of_origin,MEXICO,UNITED STATES,MEXICO,MEXICO,UNITED STATES
acquisition_country,SWITZERLAND,UNITED STATES,SWITZERLAND,SWITZERLAND,UNITED STATES
loading-port,CARTAGENA,NEW ORLEANS INTERNATIONAL APT,ALTAMIRA,CARTAGENA,NEW ORLEANS INTERNATIONAL APT
via,MARÍTIMO,MARÍTIMO,MARÍTIMO,MARÍTIMO,MARÍTIMO
transport_agent,TRAMARSA - TRABAJOS MARITIMOS S.A.,COSCO PERU S.A.,TRAMARSA - TRABAJOS MARITIMOS S.A.,TRAMARSA - TRABAJOS MARITIMOS S.A.,COSCO PERU S.A.
custom_agent,ADUANERA CAPRICORNIO S.A. AGENTES DE ADUANA,ADUANERA CAPRICORNIO S.A. AGENTES DE ADUANA,ADUANERA CAPRICORNIO S.A. AGENTES DE ADUANA,ADUANERA CAPRICORNIO S.A. AGENTES DE ADUANA,ADUANERA CAPRICORNIO S.A. AGENTES DE ADUANA
commercial_description,DIOXIDO DE TITANIO TI-PURE S/M S/M DIOXIDO DE...,DIOXIDO DE TITANIO S/M S/M DIOXIDO DE TITANIO ...,DIOXIDO DE TITANIO TI PURE S/M S/M DIOXIDO DE ...,DIOXIDO DE TITANIO TI-PURE S/M S/M DIOXIDO DE...,DIOXIDO DE TITANIO S/M S/M DIOXIDO DE TITANIO ...
description1,DIOXIDO DE TITANIO TI-PURE S/M S/M,DIOXIDO DE TITANIO S/M S/M,DIOXIDO DE TITANIO TI PURE S/M S/M,DIOXIDO DE TITANIO TI-PURE S/M S/M,DIOXIDO DE TITANIO S/M S/M
description2,DIOXIDO DE TITANIO,DIOXIDO DE TITANIO,DIOXIDO DE TITANIO,DIOXIDO DE TITANIO,DIOXIDO DE TITANIO
description3,USO INDUSTRIAL,USO INDUSTRIAL,USO INDUSTRIAL,USO INDUSTRIAL,USO INDUSTRIAL
description4,TI-PURE TITANIUM DIOXIDE R900 EX55 25 KG BAG,"LOTE: 930324/0008-0009, 930326/0017-0034 - PRO...",D0091882,TI-PURE TITANIUM DIOXIDE R900 EX55 25 KG BAG,"LOTE: 930329/0034-0049, 930329/0051-0053, 9303..."
description5,TI-PURE R900 / 800 BAGS DE 25 KG C/U,TI-PURE TITANIUM DIOXIDE R900-38 EX55 55.066 LB,TI-PURE TITANIUM DIOXIDE R900 EX55,TI-PURE R900 / 800 BAGS DE 25 KG C/U,TI-PURE TITANIUM DIOXIDE R900-38 EX55 55.066 LB

In [5]:
data_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   hts_code                216 non-null    int64
 1   hts_code_description    216 non-null    object
 2   custom                  216 non-null    object
 3   dua                     216 non-null    object
 4   date                    216 non-null    datetime64[ns]
 5   eta                     204 non-null    datetime64[ns]
 6   bl                      216 non-null    object
 7   tax_id                  216 non-null    int64
 8   name                    216 non-null    object
 9   exporter                207 non-null    object
 10  gross_kg                216 non-null    float64
 11  net_kg                  216 non-null    int64
 12  usd_fob_total           216 non-null    float64
 13  usd_freight_total       216 non-null    float64
 14  usd_cfr_total           216 non-null    float64
 15  usd_cif total           216 non-null    float64
 16  usd_fob_unit            216 non-null    float64
 17  usd_cif _unit           216 non-null    float64
 18  country_of_origin       216 non-null    object
 19  acquisition_country     216 non-null    object
 20  loading-port            216 non-null    object
 21  via                     216 non-null    object
 22  transport_agent         210 non-null    object
 23  custom_agent            216 non-null    object
 24  commercial_description  216 non-null    object
 25  description1            216 non-null    object
 26  description2            216 non-null    object
 27  description3            216 non-null    object
 28  description4            216 non-null    object
 29  description5            216 non-null    object
dtypes: datetime64[ns](2), float64(7), int64(3), object(18)
memory usage: 50.8+ KB

### Transforming port_df file

In [6]:
# Creating a filtered dataframe from specific columns

port_cols = ["port_name", "latitude", "longitude", "country"]

ports_transformed = port_df[port_cols].copy()

# Setting the Index

ports_transformed.set_index

# Reviewing

ports_transformed.head()
# ports_transformed.reset_index(inplace = True)
# ports_transformed.columns[0] = "id"
# ports_transformed["id"] = ports_transformed["id"] + 1

# To be able to apply an ID to the port 

# ports_transformed.insert(0 , "id", range(1, 1 + len(ports_transformed)))
ports_transformed

     port_name  latitude  longitude                           country
0     A
lesund  62.47299    6.15274                            Norway
1     Aabenraa  55.03933    9.42670                           Denmark
2      Aalborg  57.04611    9.93831                           Denmark
3       Aarhus  56.15000   10.21667                           Denmark
4       Abadan  30.33011   48.28240       Iran  (Islamic Republic of)
...        ...       ...        ...                               ...
2963       NaN  -5.85709   17.58290  Democratic Republic of the Congo
2964       NaN  18.47391  -73.13152                             Haiti
2965       NaN  65.02647  -18.29607                           Iceland
2966       NaN  65.83568  -18.75641                           Iceland
2967       NaN  64.24769  -18.81243                           Iceland

[2968 rows x 4 columns]

## Create dataframes for each table

In [7]:
data_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   hts_code                216 non-null    int64
 1   hts_code_description    216 non-null    object
 2   custom                  216 non-null    object
 3   dua                     216 non-null    object
 4   date                    216 non-null    datetime64[ns]
 5   eta                     204 non-null    datetime64[ns]
 6   bl                      216 non-null    object
 7   tax_id                  216 non-null    int64
 8   name                    216 non-null    object
 9   exporter                207 non-null    object
 10  gross_kg                216 non-null    float64
 11  net_kg                  216 non-null    int64
 12  usd_fob_total           216 non-null    float64
 13  usd_freight_total       216 non-null    float64
 14  usd_cfr_total           216 non-null    float64
 15  usd_cif total           216 non-null    float64
 16  usd_fob_unit            216 non-null    float64
 17  usd_cif _unit           216 non-null    float64
 18  country_of_origin       216 non-null    object
 19  acquisition_country     216 non-null    object
 20  loading-port            216 non-null    object
 21  via                     216 non-null    object
 22  transport_agent         210 non-null    object
 23  custom_agent            216 non-null    object
 24  commercial_description  216 non-null    object
 25  description1            216 non-null    object
 26  description2            216 non-null    object
 27  description3            216 non-null    object
 28  description4            216 non-null    object
 29  description5            216 non-null    object
dtypes: datetime64[ns](2), float64(7), int64(3), object(18)
memory usage: 50.8+ KB

In [8]:
## Creating DataFrames for Tables

df_transaction_table = pd.DataFrame([])
df_importer_table = pd.DataFrame([])
df_product_table = pd.DataFrame([])
df_port_table = ports_transformed.copy()

#### Transaction table

In [9]:
## Creatting column for the Trasaction Table 

df_transaction_table["dua"] = data_transformed["dua"]
df_transaction_table["date"] = data_transformed["date"]
df_transaction_table["bl"] = data_transformed["bl"]
df_transaction_table["country_of_origin"] = data_transformed["country_of_origin"]
df_transaction_table["acquisition_country"] = data_transformed["acquisition_country"]
df_transaction_table["loading_port"] = data_transformed["loading-port"]
df_transaction_table["via"] = data_transformed["via"]
df_transaction_table["transport_agent"] = data_transformed["transport_agent"]
df_transaction_table["custom_agent"] = data_transformed["custom_agent"]
df_transaction_table["custom"] = data_transformed["custom"]
df_transaction_table["gross_kg"] = data_transformed["gross_kg"]
df_transaction_table["net_kg"] = data_transformed["net_kg"]
df_transaction_table["usd_fob_total"] = data_transformed["usd_fob_total"]
df_transaction_table["usd_freight_total"] = data_transformed["usd_freight_total"]
df_transaction_table["usd_cfr_total"] = data_transformed["usd_cfr_total"]
df_transaction_table["usd_cif_total"] = data_transformed["usd_cif total"]
df_transaction_table["usd_fob_unit"] = data_transformed["usd_fob_unit"]
df_transaction_table["usd_cif_unit"] = data_transformed["usd_cif _unit"]
df_transaction_table["exporter"] = data_transformed["exporter"]
df_transaction_table["hts_code"] = data_transformed["hts_code"]
df_transaction_table["importer_id"] = data_transformed["tax_id"]

df_transaction_table.dropna(inplace = True)
df_transaction_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 215
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dua                  201 non-null    object
 1   date                 201 non-null    datetime64[ns]
 2   bl                   201 non-null    object
 3   country_of_origin    201 non-null    object
 4   acquisition_country  201 non-null    object
 5   loading_port         201 non-null    object
 6   via                  201 non-null    object
 7   transport_agent      201 non-null    object
 8   custom_agent         201 non-null    object
 9   custom               201 non-null    object
 10  gross_kg             201 non-null    float64
 11  net_kg               201 non-null    int64
 12  usd_fob_total        201 non-null    float64
 13  usd_freight_total    201 non-null    float64
 14  usd_cfr_total        201 non-null    float64
 15  usd_cif_total        201 non-null    float64
 16  usd_fob_unit         201 non-null    float64
 17  usd_cif_unit         201 non-null    float64
 18  exporter             201 non-null    object
 19  hts_code             201 non-null    int64
 20  importer_id          201 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(3), object(10)
memory usage: 34.5+ KB

#### Product table

In [10]:
## Creatting column for the Product Table 

df_product_table["hts_code"] = data_transformed["hts_code"]
df_product_table["hts_code_description"] = data_transformed["hts_code_description"]
df_product_table["commercial_description"] = data_transformed["hts_code_description"]
df_product_table["description1"] = data_transformed["hts_code_description"]
df_product_table["description2"] = data_transformed["hts_code_description"]
df_product_table["description3"] = data_transformed["hts_code_description"]
df_product_table["description4"] = data_transformed["hts_code_description"]
df_product_table["description5"] = data_transformed["hts_code_description"]
df_product_table["description"] = data_transformed["hts_code_description"]

df_product_table.drop_duplicates(inplace = True)

df_product_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 215
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   hts_code                5 non-null      int64
 1   hts_code_description    5 non-null      object
 2   commercial_description  5 non-null      object
 3   description1            5 non-null      object
 4   description2            5 non-null      object
 5   description3            5 non-null      object
 6   description4            5 non-null      object
 7   description5            5 non-null      object
 8   description             5 non-null      object
dtypes: int64(1), object(8)
memory usage: 400.0+ bytes

#### Port table

In [11]:
# transformations...
df_port_table.dropna(inplace = True)
df_port_table.nunique()

port_name    2915
latitude     2961
longitude    2960
country       180
dtype: int64

#### Importer Table

In [12]:
## Creatting column for the Importer Table 

df_importer_table["tax_id"] = data_transformed["tax_id"]
df_importer_table["name"] = data_transformed["name"]
df_importer_table.drop_duplicates(inplace = True)

df_importer_table.info()
df_importer_table.nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 212
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tax_id  27 non-null     int64
 1   name    27 non-null     object
dtypes: int64(1), object(1)
memory usage: 648.0+ bytes

tax_id    27
name      27
dtype: int64

### Creating database connection

In [13]:
# pip install psycopg2

In [14]:
connection_string = "root:root@localhost:5432/custom_analysis_db"
engine = create_engine(f'postgresql://{connection_string}')

In [15]:
# Confirm tables
engine.table_names()

<ipython-input-15-2d97e9123e98>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['ports', 'product', 'transaction', 'importer']

### Loading DataFrames into database

In [16]:
df_importer_table.to_sql(name='importer', con=engine, if_exists = "append", index = False)
df_product_table.to_sql(name='product', con=engine, if_exists = "append", index = False)
# df_port_table.to_sql(name='ports', con=engine, if_exists = "append", index = False)
df_transaction_table.to_sql(name='transaction', con=engine, if_exists = "append", index = False)

### Verifying that the data is in the database

In [17]:
engine.execute('SELECT * FROM public.transaction LIMIT 5').fetchall()

[('059075 | 3', datetime.date(2021, 2, 13), '118-2021-299', 'MEXICO', 'SWITZERLAND', 'CARTAGENA', 'MARÍTIMO', 'TRAMARSA - TRABAJOS MARITIMOS S.A.', 'ADUANERA CAPRICORNIO S.A. AGENTES DE ADUANA', 'MARITIMA DEL CALLAO', 20692, 20000, 59354.0, 646.0, 60000.0, 60052.8, 2.967, 3.002, 'CHEMOURS INTERNATIONAL OPERATIONS', 2823001000, 20600346149),
 ('004941 | 1', datetime.date(2021, 1, 7), '118-2020-2907', 'UNITED STATES', 'UNITED STATES', 'NEW ORLEANS INTERNATIONAL APT', 'MARÍTIMO', 'COSCO PERU S.A.', 'ADUANERA CAPRICORNIO S.A. AGENTES DE ADUANA', 'MARITIMA DEL CALLAO', 20878, 20000, 57148.0, 852.0, 58000.0, 58051.04, 2.857, 2.902, 'THE CHEMOURS COMPANY FC,LLC', 2823001000, 20600346149),
 ('042889 | 3', datetime.date(2021, 2, 2), '118-2021-191', 'MEXICO', 'SWITZERLAND', 'ALTAMIRA', 'MARÍTIMO', 'TRAMARSA - TRABAJOS MARITIMOS S.A.', 'ADUANERA CAPRICORNIO S.A. AGENTES DE ADUANA', 'MARITIMA DEL CALLAO', 20641, 20000, 59354.0, 646.0, 60000.0, 60052.8, 2.967, 3.002, 'CHEMOURS INTERNATIONAL OPERATIONS', 2823001000, 20600346149),
 ('059075 | 4', datetime.date(2021, 2, 13), '118-2021-299', 'MEXICO', 'SWITZERLAND', 'CARTAGENA', 'MARÍTIMO', 'TRAMARSA - TRABAJOS MARITIMOS S.A.', 'ADUANERA CAPRICORNIO S.A. AGENTES DE ADUANA', 'MARITIMA DEL CALLAO', 20692, 20000, 59354.0, 646.0, 60000.0, 60052.8, 2.967, 3.002, 'CHEMOURS INTERNATIONAL OPERATIONS', 2823001000, 20600346149),
 ('004941 | 5', datetime.date(2021, 1, 7), '118-2020-2907', 'UNITED STATES', 'UNITED STATES', 'NEW ORLEANS INTERNATIONAL APT', 'MARÍTIMO', 'COSCO PERU S.A.', 'ADUANERA CAPRICORNIO S.A. AGENTES DE ADUANA', 'MARITIMA DEL CALLAO', 20878, 20000, 57148.0, 852.0, 58000.0, 58051.04, 2.857, 2.902, 'THE CHEMOURS COMPANY FC,LLC', 2823001000, 20600346149)]

In [18]:
engine.execute('SELECT * FROM public.importer LIMIT 5').fetchall()

[(20600346149, 'ANYPSA CORPORATION SOCIEDAD ANONIMA - ANYPSA CORPORATION S.A.'),
 (20563120135, 'FRUTAROM PERU S.A.'),
 (20100281245, 'QUIMICA ANDERS SAC                                                                                  '),
 (20514067377, 'CORPORACION CRONS PERU SOCIEDAD ANONIMA CERRADA'),
 (20331752054, 'DESARROLLOS QUIMICOS METALURGICOS EIRL                                                              ')]

In [19]:
engine.execute('SELECT * FROM public.product LIMIT 5').fetchall()

[(2823001000, 'DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC TITANIC)', 'DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC TITANIC)', 'DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC TITANIC)', 'DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC TITANIC)', 'DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC TITANIC)', 'DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC TITANIC)', 'DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC TITANIC)', 'DIÓXIDO DE TITANIUM (O ANHIDRIDO OXIDO TITANIC TITANIC)'),
 (3206110000, 'PIGMENTS AND PREPARE.\xa0BASED ON TITANIUM DIOXIDE> = 80% BY WEIGHT, CALC.\xa0ON MAT.SEC', 'PIGMENTS AND PREPARE.\xa0BASED ON TITANIUM DIOXIDE> = 80% BY WEIGHT, CALC.\xa0ON MAT.SEC', 'PIGMENTS AND PREPARE.\xa0BASED ON TITANIUM DIOXIDE> = 80% BY WEIGHT, CALC.\xa0ON MAT.SEC', 'PIGMENTS AND PREPARE.\xa0BASED ON TITANIUM DIOXIDE> = 80% BY WEIGHT, CALC.\xa0ON MAT.SEC', 'PIGMENTS AND PREPARE.\xa0BASED ON TITANIUM DIOXIDE> = 80% BY WEIGHT, CALC.\xa0ON MAT.SEC', 'PIGMENTS AND PREPARE.\xa0BASED ON TITANIUM DIOXIDE> = 80% BY WEIGHT, CALC.\xa0ON MAT.SEC', 'PIGMENTS AND PREPARE.\xa0BASED ON TITANIUM DIOXIDE> = 80% BY WEIGHT, CALC.\xa0ON MAT.SEC', 'PIGMENTS AND PREPARE.\xa0BASED ON TITANIUM DIOXIDE> = 80% BY WEIGHT, CALC.\xa0ON MAT.SEC'),
 (3004902900, 'OTHER DRUGS FOR HUMAN USE', 'OTHER DRUGS FOR HUMAN USE', 'OTHER DRUGS FOR HUMAN USE', 'OTHER DRUGS FOR HUMAN USE', 'OTHER DRUGS FOR HUMAN USE', 'OTHER DRUGS FOR HUMAN USE', 'OTHER DRUGS FOR HUMAN USE', 'OTHER DRUGS FOR HUMAN USE'),
 (3210009000, 'OTHER PAINTS AND VARNISHES (EG .: WATER PAINTS)', 'OTHER PAINTS AND VARNISHES (EG .: WATER PAINTS)', 'OTHER PAINTS AND VARNISHES (EG .: WATER PAINTS)', 'OTHER PAINTS AND VARNISHES (EG .: WATER PAINTS)', 'OTHER PAINTS AND VARNISHES (EG .: WATER PAINTS)', 'OTHER PAINTS AND VARNISHES (EG .: WATER PAINTS)', 'OTHER PAINTS AND VARNISHES (EG .: WATER PAINTS)', 'OTHER PAINTS AND VARNISHES (EG .: WATER PAINTS)'),
 (3206190000, 'OTHER PIGMENTS AND PREPARATIONS OF TITANIUM DIOXIDE', 'OTHER PIGMENTS AND PREPARATIONS OF TITANIUM DIOXIDE', 'OTHER PIGMENTS AND PREPARATIONS OF TITANIUM DIOXIDE', 'OTHER PIGMENTS AND PREPARATIONS OF TITANIUM DIOXIDE', 'OTHER PIGMENTS AND PREPARATIONS OF TITANIUM DIOXIDE', 'OTHER PIGMENTS AND PREPARATIONS OF TITANIUM DIOXIDE', 'OTHER PIGMENTS AND PREPARATIONS OF TITANIUM DIOXIDE', 'OTHER PIGMENTS AND PREPARATIONS OF TITANIUM DIOXIDE')]

In [20]:
engine.execute('SELECT * FROM public.ports LIMIT 5').fetchall()

[]