In [6]:
# Importing variables
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine, inspect

### Extracting excels into DataFrame

In [7]:
data_file = "./Resources/data.xlsx"
data_df = pd.read_excel(data_file)
data_df.head()

,HTS Code,HTS Code Description,Custom,DUA,Date,ETA,B/L,Tax ID,Importer,Shipper / Exporter,...,AntiDumping,Loading Date,Description1,Description2,Description3,Description4,Description5,Shipping Line,Forwarding Agent(Origin),Forwarding Agent(Destination)
0,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,051833 | 1,2021-02-09,2021-02-14,118-2021-236,20100312736,MERCANTIL S A ...,HARMONY CHEMICAL INT'L CO..LTD.,...,0,44193.0,DIOXIDO DE TITANIO S/M S/M,"LOT NO. 012796, F.P: 17/12/2020, F.V: 16/12/2021",PIGMENTO PARA FABRICACION DE PINTURAS,"TONELADAS, 800 BAGS X 25 KG C/U",TITANIUM DIOXIDE R-2012,NaN,NaN,NaN
1,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,080268 | 1,2021-02-26,2021-02-28,118-2021-344,20100073723,CORPORACION PERUANA DE PRODUCTOS QUIMICO ...,SHANDONG DAWN INTERNATIONAL TRADING CO.LTD.,...,0,44222.0,"TITANIUM DIOXIDE RUTILE R-2295, S/M, R-2295",EN 40 BG X 500 KG,USO INDUSTRIAL,TITANIUM DIOXIDE R 2295/NR-960/R-2012,LOTE:2101037602,NaN,NaN,NaN
2,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,111921 | 3,2021-03-23,2021-03-26,118-2021-640,20100073723,CORPORACION PERUANA DE PRODUCTOS QUIMICO ...,INEOS PIGMENTS USA INC,...,0,44239.0,"RCL596 TITANIUM DIOXIDE , TIONA, 595",EN 120 BAGS / 60 PALLETS,USO INDUSTRIAL,TI-PURE R900/TRONOX CR-828/TIONA 595/KRONOS 2300,LOTE: 3630003916,NaN,NaN,NaN
3,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,026814 | 1,2021-01-21,2021-01-22,118-2021-67,20462604735,CORPORACION GTM DEL PERU S.A.,QIANJIANG FANGYUAN TITANIUMINDUSTRY CO.LTDNO99...,...,0,44165.0,"DIOXIDO DE TITANIO, S/M, S/M",EN 960 SACOS, ,TITANIUM DIOXIDE (FR 767), ,NaN,NaN,NaN
4,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,040921 | 5,2021-02-01,2021-02-06,118-2021-191,20100073723,CORPORACION PERUANA DE PRODUCTOS QUIMICO ...,CHEMOURS INTERNATIONAL OPERATIONS SARL,...,0,44470.0,"TI-PURE TITANIUM DIOXIDE R900, TI-PURE, R900 S...",EN 40 BIG BAG DE 500KG C/U,USO INDUSTRIAL,TI-PURE R 900, ,NaN,NaN,NaN

In [8]:
ports_id = "./Resources/world_port_names.xlsx"
port_df = pd.read_excel(ports_id)
port_df.head()

,FID,port_name,code,prttype,prtsize,status,maxdepth,maxlength,annualcapacitymt,humuse,...,country,lastcheckdate,remarks,url_lca,source,createdate,updatedate,geonameid,gdb_geomattr_data,shape
0,wld_trs_ports_wfp.14869,Shengjin,ALSHG,Sea,Unknown,Unknown,NaN,NaN,NaN,Unknown,...,Albania,NaT,NaN,NaN,NaN,2021-02-24 11:52:47.493,2021-02-24 11:52:47.493,3184136,NaN,POINT (19.58878714399998 41.813862658999994)
1,wld_trs_ports_wfp.14857,Tenes,DZTEN,Sea,Unknown,Open,NaN,NaN,NaN,Unknown,...,Algeria,NaT,NaN,NaN,NaN,2021-02-24 11:52:47.493,2021-02-24 11:52:47.493,2477148,NaN,POINT (1.3188396819999753 36.521455108)
2,wld_trs_ports_wfp.15121,Mostaganem,DZMOS,Sea,Unknown,Open,NaN,NaN,NaN,Unknown,...,Algeria,NaT,NaN,NaN,NaN,2021-02-24 11:52:47.493,2021-02-24 11:52:47.493,2487134,NaN,POINT (0.0799202169999944 35.93472944000001)
3,wld_trs_ports_wfp.15519,Bejaia,DZBJA,Sea,Unknown,Open,NaN,NaN,NaN,Unknown,...,Algeria,NaT,NaN,NaN,NaN,2021-02-24 11:53:30.519,2021-02-24 11:53:30.519,2505329,NaN,POINT (5.076362173999996 36.73952580299999)
4,wld_trs_ports_wfp.15614,Ghazaouet,DZGHA,Sea,Unknown,Open,NaN,NaN,NaN,Unknown,...,Algeria,NaT,NaN,NaN,NaN,2021-02-24 11:53:30.519,2021-02-24 11:53:30.519,2496042,NaN,POINT (-1.861592863999988 35.100979826000014)

### Transforming data_df

In [10]:
# Creating a filtered dataframe from specific columns

data_cols = ["HTS Code", "HTS Code Description", "Custom" ,"DUA", "Date", "ETA", "B/L", "Tax ID", "Importer",
             "Shipper / Exporter", "Gross kg", "Net kg", "U$ FOB Tot", "U$ Freight Tot", "U$ CFR Tot", "U$ CIF Tot",
             "U$ FOB Unit 1", "U$ CIF Unit 1", "Country of Origin", "Acquisition Country","Loading Port", "Via", 
             "Transport Agent", "Custom Agent", "Commercial Description", "Description1", "Description2", 
             "Description3", "Description4", "Description5"]

data_transformed = data_df[data_cols].copy()

# Renaming the column headers

data_transformed = data_transformed.rename(columns={"HTS Code" : "hts_code", 
                                                    "HTS Code Description": "hts_code_description",
                                                    "Custom" : "custom" , "DUA" : "dua", "Date" : "date",
                                                    "ETA" : "eta", "B/L" : "b/l", "Tax ID" : "tax_id", 
                                                    "Importer" : "importer", "Shipper / Exporter" : "exporter", 
                                                    "Gross kg" : "gross_kg", "Net kg" : "net_kg", 
                                                    "U$ FOB Tot" : "usd_fob_total", "U$ Freight Tot" : "usd_freight_total", 
                                                    "U$ CFR Tot": "usd_cfr_total", "U$ CIF Tot" : "usd_cif total",
                                                    "U$ FOB Unit 1": "usd_fob_unit", "U$ CIF Unit 1" : "usd_cif _unit", 
                                                    "Country of Origin" : "country_of_origin", 
                                                    "Acquisition Country" : "acquisition_country",
                                                    "Loading Port" : "loading-port", "Via" : "via",
                                                    "Transport Agent" : "transport_agent", 
                                                    "Custom Agent" : "custom_agent", 
                                                    "Commercial Description" : "commercial_description", 
                                                    "Description1" : "description1", "Description2" : "description2",
                                                    "Description3" : "description3", "Description4" : "description4", 
                                                    "Description5" : "description5"})

# Setting the Index
data_transformed.set_index

# Reviewing
data_transformed.head()

,hts_code,hts_code_description,custom,dua,date,eta,b/l,tax_id,importer,exporter,...,loading-port,via,transport_agent,custom_agent,commercial_description,description1,description2,description3,description4,description5
0,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,051833 | 1,2021-02-09,2021-02-14,118-2021-236,20100312736,MERCANTIL S A ...,HARMONY CHEMICAL INT'L CO..LTD.,...,SHEKOU,MARÍTIMO,N/A 5059,BEAGLE AGENTES DE ADUANA S.A.,"DIOXIDO DE TITANIO S/M S/M LOT NO. 012796, F.P...",DIOXIDO DE TITANIO S/M S/M,"LOT NO. 012796, F.P: 17/12/2020, F.V: 16/12/2021",PIGMENTO PARA FABRICACION DE PINTURAS,"TONELADAS, 800 BAGS X 25 KG C/U",TITANIUM DIOXIDE R-2012
1,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,080268 | 1,2021-02-26,2021-02-28,118-2021-344,20100073723,CORPORACION PERUANA DE PRODUCTOS QUIMICO ...,SHANDONG DAWN INTERNATIONAL TRADING CO.LTD.,...,QINGDAO,MARÍTIMO,COSCO PERU S.A.,N/A 8359,"TITANIUM DIOXIDE RUTILE R-2295, S/M, R-2295 EN...","TITANIUM DIOXIDE RUTILE R-2295, S/M, R-2295",EN 40 BG X 500 KG,USO INDUSTRIAL,TITANIUM DIOXIDE R 2295/NR-960/R-2012,LOTE:2101037602
2,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,111921 | 3,2021-03-23,2021-03-26,118-2021-640,20100073723,CORPORACION PERUANA DE PRODUCTOS QUIMICO ...,INEOS PIGMENTS USA INC,...,NORFOLK,MARÍTIMO,MEDITERRANEAN SHIPPING CO.PERU S.A.C.,N/A 8359,"RCL596 TITANIUM DIOXIDE , TIONA, 595 EN 120 BA...","RCL596 TITANIUM DIOXIDE , TIONA, 595",EN 120 BAGS / 60 PALLETS,USO INDUSTRIAL,TI-PURE R900/TRONOX CR-828/TIONA 595/KRONOS 2300,LOTE: 3630003916
3,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,026814 | 1,2021-01-21,2021-01-22,118-2021-67,20462604735,CORPORACION GTM DEL PERU S.A.,QIANJIANG FANGYUAN TITANIUMINDUSTRY CO.LTDNO99...,...,WUHAN,MARÍTIMO,IAN TAYLOR Y CIA S.A.C.,SLI ADUANAS S.A.C.,"DIOXIDO DE TITANIO, S/M, S/M EN 960 SACOS TIT...","DIOXIDO DE TITANIO, S/M, S/M",EN 960 SACOS, ,TITANIUM DIOXIDE (FR 767), 
4,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,040921 | 5,2021-02-01,2021-02-06,118-2021-191,20100073723,CORPORACION PERUANA DE PRODUCTOS QUIMICO ...,CHEMOURS INTERNATIONAL OPERATIONS SARL,...,CARTAGENA,MARÍTIMO,TRAMARSA - TRABAJOS MARITIMOS S.A.,N/A 8359,"TI-PURE TITANIUM DIOXIDE R900, TI-PURE, R900 S...","TI-PURE TITANIUM DIOXIDE R900, TI-PURE, R900 S...",EN 40 BIG BAG DE 500KG C/U,USO INDUSTRIAL,TI-PURE R 900, 

### Transforming port_df file

In [11]:
# Creating a filtered dataframe from specific columns

port_cols = ["port_name", "latitude", "longitude", "country"]

ports_transformed = port_df[port_cols].copy()

# Setting the Index

ports_transformed.set_index

# Reviewing

ports_transformed.head()

    port_name  latitude  longitude  country
0    Shengjin  41.81386   19.58879  Albania
1       Tenes  36.52146    1.31884  Algeria
2  Mostaganem  35.93473    0.07992  Algeria
3      Bejaia  36.73953    5.07636  Algeria
4   Ghazaouet  35.10098   -1.86159  Algeria

### Creating database connection

In [12]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\rafa7\anaconda3\lib\site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
connection_string = "postgres:Postgress@localhost:5432/etl_visualizme"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
engine.table_names()

In [ ]:
['very_data', 'world_ports']

### Loading DataFrames into database

In [ ]:
data_transformed.to_sql(name='very_data', con=engine, if_exists = "replace")
ports_transformed.to_sql(name='world_ports', con=engine, if_exists = "replace" )

### Verifying that the data is in the database

In [ ]:
engine.execute('SELECT * FROM public."very_data" LIMIT 5').fetchall()

In [ ]:
engine.execute('SELECT * FROM public."world_ports" LIMIT 5').fetchall()