In [34]:
# Importing variables
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine, inspect

### Extracting excels into DataFrame

In [35]:
data_file = "./Resources/data.xlsx"
data_df = pd.read_excel(data_file)
data_df.head()

,HTS Code,HTS Code Description,Custom,DUA,Date,ETA,B/L,Tax ID,Importer,Shipper / Exporter,...,AntiDumping,Loading Date,Description1,Description2,Description3,Description4,Description5,Shipping Line,Forwarding Agent(Origin),Forwarding Agent(Destination)
0,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,051833 | 1,2021-02-09,2021-02-14,118-2021-236,20100312736,MERCANTIL S A ...,HARMONY CHEMICAL INT'L CO..LTD.,...,0,44193.0,DIOXIDO DE TITANIO S/M S/M,"LOT NO. 012796, F.P: 17/12/2020, F.V: 16/12/2021",PIGMENTO PARA FABRICACION DE PINTURAS,"TONELADAS, 800 BAGS X 25 KG C/U",TITANIUM DIOXIDE R-2012,NaN,NaN,NaN
1,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,080268 | 1,2021-02-26,2021-02-28,118-2021-344,20100073723,CORPORACION PERUANA DE PRODUCTOS QUIMICO ...,SHANDONG DAWN INTERNATIONAL TRADING CO.LTD.,...,0,44222.0,"TITANIUM DIOXIDE RUTILE R-2295, S/M, R-2295",EN 40 BG X 500 KG,USO INDUSTRIAL,TITANIUM DIOXIDE R 2295/NR-960/R-2012,LOTE:2101037602,NaN,NaN,NaN
2,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,111921 | 3,2021-03-23,2021-03-26,118-2021-640,20100073723,CORPORACION PERUANA DE PRODUCTOS QUIMICO ...,INEOS PIGMENTS USA INC,...,0,44239.0,"RCL596 TITANIUM DIOXIDE , TIONA, 595",EN 120 BAGS / 60 PALLETS,USO INDUSTRIAL,TI-PURE R900/TRONOX CR-828/TIONA 595/KRONOS 2300,LOTE: 3630003916,NaN,NaN,NaN
3,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,026814 | 1,2021-01-21,2021-01-22,118-2021-67,20462604735,CORPORACION GTM DEL PERU S.A.,QIANJIANG FANGYUAN TITANIUMINDUSTRY CO.LTDNO99...,...,0,44165.0,"DIOXIDO DE TITANIO, S/M, S/M",EN 960 SACOS, ,TITANIUM DIOXIDE (FR 767), ,NaN,NaN,NaN
4,3206110000,PIGMENTS AND PREPARE. BASED ON TITANIUM DIOXID...,MARITIMA DEL CALLAO,040921 | 5,2021-02-01,2021-02-06,118-2021-191,20100073723,CORPORACION PERUANA DE PRODUCTOS QUIMICO ...,CHEMOURS INTERNATIONAL OPERATIONS SARL,...,0,44470.0,"TI-PURE TITANIUM DIOXIDE R900, TI-PURE, R900 S...",EN 40 BIG BAG DE 500KG C/U,USO INDUSTRIAL,TI-PURE R 900, ,NaN,NaN,NaN

In [36]:
ports_id = "./Resources/world_port_names.xlsx"
port_df = pd.read_excel(ports_id)
port_df.head().T

,0,1,2,3,4
FID,wld_trs_ports_wfp.14869,wld_trs_ports_wfp.14857,wld_trs_ports_wfp.15121,wld_trs_ports_wfp.15519,wld_trs_ports_wfp.15614
port_name,Shengjin,Tenes,Mostaganem,Bejaia,Ghazaouet
code,ALSHG,DZTEN,DZMOS,DZBJA,DZGHA
prttype,Sea,Sea,Sea,Sea,Sea
prtsize,Unknown,Unknown,Unknown,Unknown,Unknown
status,Unknown,Open,Open,Open,Open
maxdepth,NaN,NaN,NaN,NaN,NaN
maxlength,NaN,NaN,NaN,NaN,NaN
annualcapacitymt,NaN,NaN,NaN,NaN,NaN
humuse,Unknown,Unknown,Unknown,Unknown,Unknown
locprecision,accurate,accurate,accurate,accurate,accurate
latitude,41.8139,36.5215,35.9347,36.7395,35.101
longitude,19.5888,1.31884,0.07992,5.07636,-1.86159
iso3,ALB,DZA,DZA,DZA,DZA
iso3_op,ALB,DZA,DZA,DZA,DZA
country,Albania,Algeria,Algeria,Algeria,Algeria
lastcheckdate,NaT,NaT,NaT,NaT,NaT
remarks,NaN,NaN,NaN,NaN,NaN
url_lca,NaN,NaN,NaN,NaN,NaN
source,NaN,NaN,NaN,NaN,NaN
createdate,2021-02-24 11:52:47.493000,2021-02-24 11:52:47.493000,2021-02-24 11:52:47.493000,2021-02-24 11:53:30.519000,2021-02-24 11:53:30.519000
updatedate,2021-02-24 11:52:47.493000,2021-02-24 11:52:47.493000,2021-02-24 11:52:47.493000,2021-02-24 11:53:30.519000,2021-02-24 11:53:30.519000
geonameid,3184136,2477148,2487134,2505329,2496042
gdb_geomattr_data,NaN,NaN,NaN,NaN,NaN
shape,POINT (19.58878714399998 41.813862658999994),POINT (1.3188396819999753 36.521455108),POINT (0.0799202169999944 35.93472944000001),POINT (5.076362173999996 36.73952580299999),POINT (-1.861592863999988 35.100979826000014)

### Transforming data_df

In [37]:
# Creating a filtered dataframe from specific columns

data_cols = ["HTS Code", "HTS Code Description", "Custom" ,"DUA", "Date", "ETA", "B/L", "Tax ID", "Importer",
             "Shipper / Exporter", "Gross kg", "Net kg", "U$ FOB Tot", "U$ Freight Tot", "U$ CFR Tot", "U$ CIF Tot",
             "U$ FOB Unit 1", "U$ CIF Unit 1", "Country of Origin", "Acquisition Country","Loading Port", "Via", 
             "Transport Agent", "Custom Agent", "Commercial Description", "Description", "Description1", "Description2", 
             "Description3", "Description4", "Description5"]

data_transformed = data_df[data_cols].copy()

# Renaming the column headers

data_transformed = data_transformed.rename(columns={"HTS Code" : "hts_code", 
                                                    "HTS Code Description": "hts_code_description",
                                                    "Custom" : "custom" , "DUA" : "dua", "Date" : "date",
                                                    "ETA" : "eta", "B/L" : "bl", "Tax ID" : "tax_id", 
                                                    "Importer" : "name", "Shipper / Exporter" : "exporter", 
                                                    "Gross kg" : "gross_kg", "Net kg" : "net_kg", 
                                                    "U$ FOB Tot" : "usd_fob_total", "U$ Freight Tot" : "usd_freight_total", 
                                                    "U$ CFR Tot": "usd_cfr_total", "U$ CIF Tot" : "usd_cif total",
                                                    "U$ FOB Unit 1": "usd_fob_unit", "U$ CIF Unit 1" : "usd_cif _unit", 
                                                    "Country of Origin" : "country_of_origin", 
                                                    "Acquisition Country" : "acquisition_country",
                                                    "Loading Port" : "loading-port", "Via" : "via",
                                                    "Transport Agent" : "transport_agent", 
                                                    "Custom Agent" : "custom_agent", 
                                                    "Commercial Description" : "commercial_description",
                                                    "Description1" : "description1", "Description2" : "description2",
                                                    "Description3" : "description3", "Description4" : "description4", 
                                                    "Description5" : "description5"})

# Setting the Index
data_transformed.set_index

# Reviewing
data_transformed.head().T

KeyError: "['Description'] not in index"

In [38]:
data_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   hts_code                216 non-null    int64
 1   hts_code_description    216 non-null    object
 2   custom                  216 non-null    object
 3   dua                     216 non-null    object
 4   date                    216 non-null    datetime64[ns]
 5   eta                     204 non-null    datetime64[ns]
 6   bl                      216 non-null    object
 7   tax_id                  216 non-null    int64
 8   name                    216 non-null    object
 9   exporter                207 non-null    object
 10  gross_kg                216 non-null    float64
 11  net_kg                  216 non-null    int64
 12  usd_fob_total           216 non-null    float64
 13  usd_freight_total       216 non-null    float64
 14  usd_cfr_total           216 non-null    float64
 15  usd_cif total           216 non-null    float64
 16  usd_fob_unit            216 non-null    float64
 17  usd_cif _unit           216 non-null    float64
 18  country_of_origin       216 non-null    object
 19  acquisition_country     216 non-null    object
 20  loading-port            216 non-null    object
 21  via                     216 non-null    object
 22  transport_agent         210 non-null    object
 23  custom_agent            216 non-null    object
 24  commercial_description  216 non-null    object
 25  description1            216 non-null    object
 26  description2            216 non-null    object
 27  description3            216 non-null    object
 28  description4            216 non-null    object
 29  description5            216 non-null    object
dtypes: datetime64[ns](2), float64(7), int64(3), object(18)
memory usage: 50.8+ KB

### Transforming port_df file

In [39]:
# Creating a filtered dataframe from specific columns

port_cols = ["port_name", "latitude", "longitude", "country"]

ports_transformed = port_df[port_cols].copy()

# Setting the Index

ports_transformed.set_index

# Reviewing

ports_transformed.head()
# ports_transformed.reset_index(inplace = True)
# ports_transformed.columns[0] = "id"
# ports_transformed["id"] = ports_transformed["id"] + 1

# To be able to apply an ID to the port 

# ports_transformed.insert(0 , "id", range(1, 1 + len(ports_transformed)))
ports_transformed

       port_name  latitude  longitude  country
0       Shengjin  41.81386   19.58879  Albania
1          Tenes  36.52146    1.31884  Algeria
2     Mostaganem  35.93473    0.07992  Algeria
3         Bejaia  36.73953    5.07636  Algeria
4      Ghazaouet  35.10098   -1.86159  Algeria
...          ...       ...        ...      ...
2963     Loheiya  15.70229   42.68884    Yemen
2964     Mukalla  14.52085   49.15161    Yemen
2965     Nishtun  15.82170   52.19765    Yemen
2966   Ash Shihr  14.75048   49.60691    Yemen
2967    Mbulungu  -8.76378   31.10530   Zambia

[2968 rows x 4 columns]

## Create dataframes for each table

In [40]:
data_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   hts_code                216 non-null    int64
 1   hts_code_description    216 non-null    object
 2   custom                  216 non-null    object
 3   dua                     216 non-null    object
 4   date                    216 non-null    datetime64[ns]
 5   eta                     204 non-null    datetime64[ns]
 6   bl                      216 non-null    object
 7   tax_id                  216 non-null    int64
 8   name                    216 non-null    object
 9   exporter                207 non-null    object
 10  gross_kg                216 non-null    float64
 11  net_kg                  216 non-null    int64
 12  usd_fob_total           216 non-null    float64
 13  usd_freight_total       216 non-null    float64
 14  usd_cfr_total           216 non-null    float64
 15  usd_cif total           216 non-null    float64
 16  usd_fob_unit            216 non-null    float64
 17  usd_cif _unit           216 non-null    float64
 18  country_of_origin       216 non-null    object
 19  acquisition_country     216 non-null    object
 20  loading-port            216 non-null    object
 21  via                     216 non-null    object
 22  transport_agent         210 non-null    object
 23  custom_agent            216 non-null    object
 24  commercial_description  216 non-null    object
 25  description1            216 non-null    object
 26  description2            216 non-null    object
 27  description3            216 non-null    object
 28  description4            216 non-null    object
 29  description5            216 non-null    object
dtypes: datetime64[ns](2), float64(7), int64(3), object(18)
memory usage: 50.8+ KB

In [41]:
## Creating DataFrames for Tables

df_transaction_table = pd.DataFrame([])
df_importer_table = pd.DataFrame([])
df_product_table = pd.DataFrame([])
df_port_table = ports_transformed.copy()

#### Transaction table

In [44]:
## Creatting column for the Trasaction Table 

df_transaction_table["dua"] = data_transformed["dua"]
df_transaction_table["date"] = data_transformed["date"]
df_transaction_table["bl"] = data_transformed["bl"]
df_transaction_table["country_of_origin"] = data_transformed["country_of_origin"]
df_transaction_table["acquisition_country"] = data_transformed["acquisition_country"]
df_transaction_table["loading_port"] = data_transformed["loading-port"]
df_transaction_table["via"] = data_transformed["via"]
df_transaction_table["transport_agent"] = data_transformed["transport_agent"]
df_transaction_table["custom_agent"] = data_transformed["custom_agent"]
df_transaction_table["custom"] = data_transformed["custom"]
df_transaction_table["gross_kg"] = data_transformed["gross_kg"]
df_transaction_table["net_kg"] = data_transformed["net_kg"]
df_transaction_table["usd_fob_total"] = data_transformed["usd_fob_total"]
df_transaction_table["usd_freight_total"] = data_transformed["usd_freight_total"]
df_transaction_table["usd_cfr_total"] = data_transformed["usd_cfr_total"]
df_transaction_table["usd_cif_total"] = data_transformed["usd_cif total"]
df_transaction_table["usd_fob_unit"] = data_transformed["usd_fob_unit"]
df_transaction_table["usd_cif_unit"] = data_transformed["usd_cif _unit"]
df_transaction_table["exporter"] = data_transformed["exporter"]
df_transaction_table["hts_code"] = data_transformed["hts_code"]
df_transaction_table["importer"] = data_transformed["tax_id"]


df_transaction_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dua                  216 non-null    object
 1   date                 216 non-null    datetime64[ns]
 2   bl                   216 non-null    object
 3   country_of_origin    216 non-null    object
 4   acquisition_country  216 non-null    object
 5   loading_port         216 non-null    object
 6   via                  216 non-null    object
 7   transport_agent      210 non-null    object
 8   custom_agent         216 non-null    object
 9   custom               216 non-null    object
 10  gross_kg             216 non-null    float64
 11  net_kg               216 non-null    int64
 12  usd_fob_total        216 non-null    float64
 13  usd_freight_total    216 non-null    float64
 14  usd_cfr_total        216 non-null    float64
 15  usd_cif_total        216 non-null    float64
 16  usd_fob_unit         216 non-null    float64
 17  usd_cif_unit         216 non-null    float64
 18  exporter             207 non-null    object
 19  hts_code             216 non-null    int64
 20  importer             216 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(3), object(10)
memory usage: 35.6+ KB

#### Product table

In [48]:
## Creatting column for the Product Table 

df_product_table["hts_code"] = data_transformed["hts_code"]
df_product_table["hts_code_description"] = data_transformed["hts_code_description"]
df_product_table["commercial_description"] = data_transformed["commercial_description"]
df_product_table["description1"] = data_transformed["description1"]
df_product_table["description2"] = data_transformed["description2"]
df_product_table["description3"] = data_transformed["description3"]
df_product_table["description4"] = data_transformed["description4"]
df_product_table["description5"] = data_transformed["description5"]
df_product_table["description"] = data_transformed["description5"]

df_product_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   hts_code                216 non-null    int64
 1   hts_code_description    216 non-null    object
 2   description1            216 non-null    object
 3   description2            216 non-null    object
 4   description3            216 non-null    object
 5   description4            216 non-null    object
 6   description5            216 non-null    object
 7   commercial_description  216 non-null    object
 8   description             216 non-null    object
dtypes: int64(1), object(8)
memory usage: 15.3+ KB

#### Port table

In [49]:
# transformations...
df_port_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

#### Importer Table

In [25]:
## Creatting column for the Importer Table 

df_importer_table["tax_id"] = data_transformed["tax_id"]
df_importer_table["name"] = data_transformed["name"]

df_importer_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tax_id  216 non-null    int64
 1   name    216 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.5+ KB

### Creating database connection

In [12]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\rafa7\anaconda3\lib\site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
connection_string = "postgres:Postgress@localhost:5432/etl_visualizme"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
engine.table_names()

### Loading DataFrames into database

In [ ]:
df_transaction_table.to_sql(name='transaction', con=engine, if_exists = "replace")
df_importer_table.to_sql(name='importer', con=engine, if_exists = "replace")
df_product_table.to_sql(name='product', con=engine, if_exists = "replace")
df_port_table.to_sql(name='port', con=engine, if_exists = "replace")

### Verifying that the data is in the database

In [ ]:
engine.execute('SELECT * FROM public." " LIMIT 5').fetchall()

In [ ]:
engine.execute('SELECT * FROM public." " LIMIT 5').fetchall()